<html>
    <head>
        <title>Integration</title>
    </head>
    <body>
	<!-- drone.io!! -->
        <h2>Automatically deployed!</h2>
        {% if error %}
	    <h2 style="color: red;">Uploaded file must be an image.</h2>
	{% endif %}
	<form method='POST' action='{{ url_for("index") }}' enctype='multipart/form-data'>
	    {{ form.csrf_token }}
	    <table>
		{% for field in form if field.widget.input_type != 'hidden' %}
		<tr>
		    <td>{{ field.label }}</td><td>{{ field }} </td>
		</tr>
		{% endfor %}
	    </table>
	    <input type='submit' value='Submit' />
	</form>
    </body>
</html>
